<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold">
            {{
              empHistoryForm.get(titleOrName).value
                ? empHistoryForm.get(titleOrName).value
                : "(Not Specified)"
            }}
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <div *ngIf="startDate && endDate; else noDate">
              {{ empHistoryForm.get("startDate").value | date }} -
              {{ empHistoryForm.get("endDate").value | date }}
            </div>
            <ng-template #noDate>
              ...
            </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Content here -->
        <div class="container-fluid">
          <form #f="ngForm" [formGroup]="empHistoryForm" (ngSubmit)="submit()">
            <div class="row">
              <!-- JOB AND EMPLOYER -->
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="titleOrName">
                <mat-form-field>
                  <br />
                  <mat-label>{{ titleOrNameLabelText }}</mat-label>
                  <input type="text" matInput [formControlName]="titleOrName" />
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="degreeOrEmployer">
                <mat-form-field>
                  <br />
                  <mat-label>{{ degreeOrEmployerLabelText }}</mat-label>
                  <input type="text" matInput [formControlName]="degreeOrEmployer" />
                </mat-form-field>
              </div>
              <!-- END of JOB AND EMPLOYER -->

              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3" *ngIf="startDate">
                <mat-form-field appearance="fill">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="startDateId" [formControlName]="startDate" />
                  <mat-datepicker-toggle matSuffix [for]="startDateId"></mat-datepicker-toggle>
                  <mat-datepicker #startDateId></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3" *ngIf="endDate">
                <mat-form-field appearance="fill">
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="endDateId" [formControlName]="endDate" />
                  <mat-datepicker-toggle matSuffix [for]="endDateId"></mat-datepicker-toggle>
                  <mat-datepicker #endDateId></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="city">
                <mat-form-field>
                  <br />
                  <mat-label>City</mat-label>
                  <input type="text" matInput [formControlName]="city" />
                </mat-form-field>
              </div>
              <div class="col-12" *ngIf="description">
                <mat-form-field>
                  <br />
                  <mat-label>Description</mat-label>
                  <textarea rows="4" type="text" matInput [formControlName]="description"
                    placeholder="Write something about your job there."></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="languageLevel">
                <mat-form-field>
                  <br />
                  <mat-label>Level</mat-label>
                  <mat-select [formControlName]="languageLevel">
                    <mat-option *ngFor="let level of languageLevelList" [value]="level">
                      {{ level }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="phone">
                <mat-form-field>
                  <br />
                  <mat-label>Phone</mat-label>
                  <input type="text" matInput [formControlName]="phone" />
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6" *ngIf="email">
                <mat-form-field>
                  <br />
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControlName]="email" />
                </mat-form-field>
              </div>
              <mat-button-toggle-group [formControlName]="skillLevel" class="col-md-6 col-lg-6 col-xl-6"
                *ngIf="skillLevel">
                <div class="container-fluid">
                  <div class="row d-flex flex-wrap">
                    <mat-button-toggle class="col-3 p-0" value="Beginner">Beginner</mat-button-toggle>


                    <mat-button-toggle class="col-3 p-0" value="Skillful">Skillful</mat-button-toggle>


                    <mat-button-toggle class="col-3 p-0" value="Experienced">Experienced</mat-button-toggle>


                    <mat-button-toggle class="col-3 p-0" value="Expert">Expert</mat-button-toggle>

                  </div>
                </div>

              </mat-button-toggle-group>
              <!-- <div class="col-6"><button class="btn-secondary btn" type="submit">Submit</button></div> -->
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>