.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-padding {
    padding: 2em 3em;
    margin: 2em 0;
    background: rgba(255,255,255,0.6) !important;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
