<!-- <div class="container">
  <div class="row">
    <span class="col-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/carpediemresumes-4b51f.appspot.com/o/homepage-images%2Fresume_01.jpg?alt=media&token=61e63497-4e5f-4927-8323-e454a32d6998" class="img-responsive img-size" alt="">
    </span>
    <span class="col-6">
      <img src="https://firebasestorage.googleapis.com/v0/b/carpediemresumes-4b51f.appspot.com/o/homepage-images%2Fresume_2.jpg?alt=media&token=0294a11a-ff9c-4910-8036-6626c83a1ce1" class="img-responsive img-size" alt="">
    </span>
  </div>
  <div class="row">
    <span class="col">
      <img src="https://firebasestorage.googleapis.com/v0/b/carpediemresumes-4b51f.appspot.com/o/homepage-images%2Fresume_3.jpg?alt=media&token=e9b38ceb-4c71-4143-a0cb-75e6e5fe4750" class="img-responsive img-size" alt="">
    </span>
    <span class="col">
      <img src="https://firebasestorage.googleapis.com/v0/b/carpediemresumes-4b51f.appspot.com/o/homepage-images%2Fresume_4.jpg?alt=media&token=65b28fb4-f82c-446a-983c-553430ce6150" class="img-responsive img-size"alt="">
    </span>
  </div>
</div> -->
